<!DOCTYPE html>
<html lang="es-pe">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../../public/css/reset.css">
    <link rel="stylesheet" href="../../../public/css/header.css">
    <link rel="stylesheet" href="../../../public/css/home.css">
    <link rel="icon" href="../../../public/img/siatmedia_logo.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header class="header">
        <a class="header_logo" href="home.html">
            <img src="../../../public/img/siatmedia_logo.png" alt="Siatmedia">
        </a>
        <nav class="navegation">
            <label class="amburguesa" for="header_responsive">
                <span></span><span></span><span></span>
            </label>
            <input class="navegation_checkbox" type="checkbox" name="header_responsive" id="header_responsive">
            <div class="navegation_capa_mobile shadow-big-black">
                <a class="navegation_link" href="#main">Inicio</a>
                <a class="navegation_link" href="#welcome">Nosotros</a>
                <a class="navegation_link" href="#">Tienda</a>
                <a class="navegation_link" href="#servicios">Servicios</a>
                <a class="navegation_link" href="#">Blog</a>
                <a class="navegation_link" href="#contacto">Contacto</a>
                <div class="navegation_account">
                    <a class="navegation_accountLink navegation_account-login" href="">Iniciar Sesión</a>
                    <a class="navegation_accountLink navegation_account-register" href="">Registrarse</a>
                </div>
            </div>
        </nav>
    </header>
    <main id="main">
        <section id="presentation" class="presentation">
            <article class="width-xl fd-column">
                <h1 class="presentation_title">Siatmedia <span class="orange">Potencia tu presencia online</span> con
                    Soluciones integrales de desarrollo web</h1>
                <p class="presentation_description">Los clientes prefieren nuestros servicios por cumplir con sus
                    espectativas.</p>
                <a class="presentation_link" href="#">Ver Tienda</a>
            </article>
        </section>
        <section id="welcome" class="welcome">
            <section class="width-xl fd-column-mobile-reverse">
                <section class="welcome_card">
                    <div class="card tranform-0px-x">
                        <img class="card_img" src="../../../public/img/amplia.jpg" alt="Amplia tu mercado">
                        <p class="card_title">
                            Amplía tu <span class="orange"> Mercado</span>
                        </p>
                    </div>
                    <div class="card tranform-75px-x">
                        <img class="card_img" src="../../../public/img/mejor_servicio.jpg" alt="Mejor Servicio al Cliente">
                        <p class="card_title">
                            Mejor Servicio <span class="orange"> al Cliente</span>
                        </p>
                    </div>
                    <div class="card tranform-150px-x">
                        <img class="card_img" src="../../../public/img/disponibilidad.jpg" alt="Disponibilidad 24 Horas">
                        <p class="card_title">
                            <span class="orange">Disponibilidad </span> 24 Horas
                        </p>
                    </div>
                    <div class="card tranform-225px-x">
                        <img class="card_img" src="../../../public/img/imagen.jpg" alt="Imagen Profesional">
                        <p class="card_title">
                            Imagen <span class="orange">Profesional </span>
                        </p>
                    </div>
                </section>
                <section class="width-m welcome_presentation">
                    <h2 class="welcome_presentation_title">Bienvenido a Siatmedia</h2>
                    <p class="welcome_presentation_description">Somos una organización con un staff de profesionales
                        especializados en herramientas para la web y móviles.
                        Nos encargamos del Diseño y Desarrollo Web así como la Gestión de Contenidos Digitales.</p>
                </section>
            </section>

        </section>
        <section id="servicios" class="servicios">
            <div class="width-xl fd-column">
                <h2 class="servicios_title">Nuestros Servicios</h2>
                <p class="servicios_description">Revisa Nuestros Trabajos</p>
                <article class="servicios_cards">
                </article>
            </div>
        </section>
        <section class="atencion">
            <section class="width-xl fd-column">
                <h2 class="atencion_title">Centros de atención <span class="orange">Siatmedia</span></h2>
                <article class="atencion_cards">
                </article>
            </section>
        </section>
        <section class="noticias">
            <section class="width-xl jc-center ai-center">
                <article class="banner shadow-big-black">
                    <div class="banner_data">
                        <h2 class="banner_data_title">Noticias y Otros</h2>
                        <p class="banner_data_description">Aprende con nosotros las últimas tecnologías que posicionarán la página web en el buscador de Google.</p>
                    </div>
                    <section class="muro">
                        
                    </section>
                </article>
            </section>
        </section>
        <section id="contacto" class="contacto">
            <section class="width-xl jc-center ai-center">
                <div class="formulario-mobile-animation d-flex radius relative over-hidden shadow-big-black">
                    <form class="formulario_contacto" action="">
                        <fieldset class="formulario_field">
                            <legend class="formulario_legend">
                                Contáctanos
                            </legend>
                            <p class="formulario_descripcion">Contacta con uno de nuestros asesores</p>
                            <div class="controls">
                                <div class="control">
                                    <label class="control_label" for="nombre">Nombre</label>
                                    <input class="controlador" type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre">
                                </div>
                                <div class="control">
                                    <label class="control_label" for="correo">Apellido</label>
                                    <input class="controlador" type="text" id="correo" name="correo" placeholder="Ingrese su apellido">
                                </div>
                                <div class="control">
                                    <label class="control_label" for="correo">Correo</label>
                                    <input class="controlador" type="text" id="correo" name="correo" placeholder="Ingrese su correo">
                                </div>
                                <div class="control">
                                    <label class="control_label" for="mensaje">Mensaje</label>
                                    <textarea class="controlador controlador_area" name="mensaje" id="mensaje" value="Describa su mensaje">
                                
                                    </textarea>
                                </div>
                                <input class="btn btn_submit" type="submit" value="ENVIAR">
                            </div>
                        </fieldset>
                    </form>
                    <picture class="formulario_banner">
                        <img class="formulario_banner_img" src="../../../public/img/banner_login.jpg" alt="">
                    </picture>
                </div>
            </section>
        </section>
    </main>
    <footer class="footer">
        <div class="width-xl fd-column">
            <h2 alig class="footer_title">Siatmedia</h2>
            <section class="d-flex g-1 fw-wrap width-full jc-center jc-start">
                <section class="footer_card">
                    <h3 class="card_title">Nosotros</h3>
                    <div class="d-flex fd-column g-1">
                        <p>Siatmedia agradece a cada uno de nuestros socios por acompañarlos en dar soluciones digitales a su organización.</p>
                        <p>Somos un equipo de apasionados, creativos, innovadores y muy profesionales; sobre todo nos preocupamos por alcanzar el éxito.</p>
                    </div>
                </section>
                <section class="footer_card footer_direccion">
                    <h3 class="card_title">Contáctanos</h3>
                    <address class="d-flex fd-column">
                        San Martin | de Porres - Lima
                        <a class="link" title="Pagina Web" href="https://www.siatmedia.com/">www.siatmedia.com</a>
                        <a class="link" title="Celular" href="tel:949726209">Celular: 949726209</a>
                    </address>
                </section>
                <section class="footer_card">
                    <h3 class="card_title">Servicios</h3>
                    <div class="d-flex fd-column g-1">
                        <p>Diseño de Sitios Web | Marketing de Contenidos Digitales | SEO & SEM Desarrollo de Software
                            | Hosting & Dominio | Estrategia Digital | Identidad Corporativa
                            | Apps y Realidad Aumentada | Videojuegos
                            </p>
                    </div>
                </section>
                <section class="footer_card">
                    <h3 class="card_title">Emprendedor</h3>
                    <div class="d-flex fd-column g-1">
                        <p>“No hay ningún secreto para el éxito. Es el resultado de la preparación, el trabajo y aprender del fracaso.” - Colin Powell</p>
                    </div>
                </section>
            </section>
            <section class="mt-1 d-flex g-1">
                <i class='bx bxl-facebook-circle bx-tada bx-lg' style='color:#ffffff'  ></i>
                <i class='bx bxl-instagram-alt bx-tada bx-lg' style='color:#ffffff' ></i>
                <i class='bx bxl-youtube bx-tada bx-lg' style='color:#ffffff' ></i>
                <i class='bx bxl-twitter bx-tada bx-lg' style='color:#ffffff' ></i>
            </section>
            <section class="d-flex jc-center mt-1">
                <p class="t-center"> © Siatmedia 2024 - Todos los derechos reservados</p>
            </section>
        </div class="width-xl">
    </footer>
    <script src="../../../public/components/services.js" type="module"></script>
    <script src="../../../public/components/attention.js" type="module"></script>
    <script src="../../../public/components/notice.js" type="module"></script>
</body>
</html>