.footer{
    background: #263240;
    padding: 25px 50px;
    color: #ffffff;
    display: flex;
    justify-content: center;
}
.footer_title{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: .5rem;
}
.footer_card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: max-content;
    max-width: 320px;
    padding-left: 1rem;
}
.footer_card > .card_title{
    font-size: 18px;
    font-weight: 500;
}
.footer_direccion{
    gap: 0px;
}